# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
# 有这个配置，就不会继续往上一级目录查找配置文件了
root = true

# Unix-style newlines with a newline ending every file
# 下面这5个配置项跟 prettier 配置是重复
# 这边配置，.prettier 没有配置的话，就会以这边的配置为准
# 所以建议定义在这边，这样就不需要两边都配置
[*]
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 80
tab_width = 2

# 保证在任何操作系统上都有统一的行尾结束字符
end_of_line = lf
# 在文件最后面自动添加新行，保存后才会生效
insert_final_newline = false

# 针对 markdown 文件的配置
[*.md]
trim_trailing_whitespace = false

# 针对js, jsx文件的配置
[*.{js,jsx}]
trim_trailing_whitespace = true
