# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
# 有这个配置，就不会继续往上一级目录查找配置文件了
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 2

# 保证在任何操作系统上都有统一的行尾结束字符
end_of_line = lf
charset = utf-8
insert_final_newline = true
max_line_length = 80

# 针对 markdown 文件的配置
[*.md]
trim_trailing_whitespace = false

# 针对js, jsx文件的配置
[*.{js,jsx}]
trim_trailing_whitespace = true
